<footer id="footer">
    <div class="footerinfo clearfix">
        <section class="site-info">
            <section class="logo" data-name="cc">coku</section>
            <p>携手可酷CC
                让工作轻松起来
                转载内容版权归作者及来源网站所有，本站原创内容转载请注明来源，商业媒体及纸媒请先联系：sangxing@taobao.com</p>
        </section>
        <section class="firend-link">
            <header>友情链接</header>
            <ul class="clearfix">
                <li><a href="">阿里</a></li>
                <li><a href="">ccblog</a></li>
                <li><a href="">ccplugin</a></li>
                <li><a href="">php</a></li>
                <li><a href="">javascript</a></li>
                <li><a href="">html</a></li>
                <li><a href="">css</a></li>
                <li><a href="">bootstrap</a></li>
            </ul>
        </section>
    </div>
</footer>