#index-main .index-four{
    height:297px;
    background:url( ../../../img/index-four-bg.jpg );
    background-position:center top;
    text-align:center;
    & > div{
        width:1000px;
        margin: 0 auto;
        height:297px;
        padding-top:10px;
        header,p{
            color:#fff;
            font-size:40px;
            font-weight:200;
        }
        & > div{
            width:566px;
            height:330px;
            //background:rgba( 0, 0, 0, .1 );
            margin:0 0 0 200px;
            padding:50px;
            border-radius:3px;
            & > div{
                margin-top:50px;
                a{
                    padding:10px 30px;
                    color:#fff;
                    border-radius:3px;
                    font-size:15px;
                    margin-right:20px;
                    border:1px solid #fff;
                    transition-property:all;
                    transition-duration:.3s;
                    &:first-child{
                        background: rgb(255, 109, 65);
                        border:1px solid rgb(255, 109, 65);
                    }
                    &:nth-of-type(2){
                        &:hover{
                            border:1px solid rgb(249, 249, 249);
                            background: rgb(249, 249, 249);
                            color:#333;
                        }
                    }
                }
            }
        }
    }
}