<section class="index-three">
    <div>
        <header>
            <h1>适用行业</h1>
            <p>近万家企业的共同选择，提供全套销售解决方案</p>
        </header>
        <div class="box">
            <dl>
                <dt class="icon01"></dt>
                <dd>高科技行业</dd>
            </dl>
            <dl>
                <dt class="icon02"></dt>
                <dd>高科技行业</dd>
            </dl>
            <dl>
                <dt class="icon03"></dt>
                <dd>高科技行业</dd>
            </dl>
            <dl>
                <dt class="icon04"></dt>
                <dd>高科技行业</dd>
            </dl>
            <dl>
                <dt class="icon05"></dt>
                <dd>高科技行业</dd>
            </dl>
            <dl>
                <dt class="icon06"></dt>
                <dd>高科技行业</dd>
            </dl>
            <dl>
                <dt class="icon07"></dt>
                <dd>高科技行业</dd>
            </dl>
            <dl>
                <dt class="icon08"></dt>
                <dd>高科技行业</dd>
            </dl>
        </div>
    </div>
</section>