<section class="index-one">
    <header>
        <h1>将销售团队放在赤狐</h1>
        <p>赤狐CRM整合客户资源、客户管理、邮件营销、数据分析，打造销售团队的一体化工作平台</p>
    </header>
    <div class="box clearfix">
            <dl>
                <dt><img src="//res.foxsaas.com/foxsaas/pc/res/images/index_new/pic_solution01_60x60.png" alt="客户跟进"></dt>
                <dd>线索管理</dd>
                <dd>
                    集中管理客户和联系人信息，多维度智能区分
                    客户属性,合作意向,随时掌握客户属性和喜好，
                    更好得为客户服务
                </dd>
            </dl>
        <dl>
            <dt><img src="//res.foxsaas.com/foxsaas/pc/res/images/index_new/pic_solution02_60x60.png" alt="客户跟进"></dt>
            <dd>客户跟进</dd>
            <dd>
                以客户为中心，记录客户沟通全过程,将客户
                精细化管理渗透到各个环节，帮助企业服务
                好每个单一的客户
            </dd>
        </dl>
        <dl>
            <dt><img src="//res.foxsaas.com/foxsaas/pc/res/images/index_new/pic_solution03_60x60.png" alt="客户跟进"></dt>
            <dd>销售团队管理</dd>
            <dd>
                企业内部上通下达，通过微信同步推送销售进展，
                即时回复和审批，更高效地管理您的员工
            </dd>
        </dl>
        <dl>
            <dt><img src="//res.foxsaas.com/foxsaas/pc/res/images/index_new/pic_solution01_60x60.png" alt="客户跟进"></dt>
            <dd>线索管理</dd>
            <dd>
                集中管理客户和联系人信息，多维度智能区分
                客户属性,合作意向,随时掌握客户属性和喜好，
                更好得为客户服务
            </dd>
        </dl>
        <dl>
            <dt><img src="//res.foxsaas.com/foxsaas/pc/res/images/index_new/pic_solution02_60x60.png" alt="客户跟进"></dt>
            <dd>客户跟进</dd>
            <dd>
                以客户为中心，记录客户沟通全过程,将客户
                精细化管理渗透到各个环节，帮助企业服务
                好每个单一的客户
            </dd>
        </dl>
        <dl>
            <dt><img src="//res.foxsaas.com/foxsaas/pc/res/images/index_new/pic_solution03_60x60.png" alt="客户跟进"></dt>
            <dd>销售团队管理</dd>
            <dd>
                企业内部上通下达，通过微信同步推送销售进展，
                即时回复和审批，更高效地管理您的员工
            </dd>
        </dl>
    </div>
</section>