<section class="product-two">
    <div class="clearfix">
        <div class="dec waycoku">
            <header>我是一名销售</header>
            <p>
                我的名片夹装着厚厚的一堆名片，手动录入非常麻烦<br/>
                本子记录了很多客户信息，要用的时候找起来太费劲<br/>
                总在苦恼着找不到合适的客户，业绩无法突破
            </p>
            <header>可酷cc 让客户管理更轻松</header>
            <p>
                发送名片至微信公众号"赤狐CRM"，名片自动识别，告别手工输入<br/>
                客户信息云端存储，随时随地想查就查<br/>
                赤狐机器人自动推荐潜在客户，让业绩压力小一点
            </p>
        </div>
        <div class="img waycoku">
            <img src="../img/waycoku-one-img2.jpg" alt="微信扫描名片"/>
        </div>
    </div>
</section>