<%- include( './_pub/head.html' )%>
<body>
<%- include( './_pub/header.html' ) %>
<main id="index-main">
    <%- include( './_structure/index/banner.html' ) %>
    <%- include( './_structure/index/index-one.html' ) %>
    <%- include( './_structure/index/index-two.html' ) %>
    <%- include( './_structure/index/index-three.html' ) %>
    <%- include( './_structure/index/index-four.html' ) %>
</main>
<%- include( './_pub/footer.html' ) %>
</body>
<!--<script src="js/header.js"></script>-->
</html>