<!DOCTYPE html>
<html lang="en" id="jump-html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/main.css" rel="stylesheet"/>
</head>
<body id="jump-body">
<section>
    <header><%= msg %></header>
    <p><time>3</time>秒后跳转到<a href="../">首页</a></p>
</section>
</body>
<script>
    window.onload = () => {
        let tim = document.getElementsByTagName( 'time' )[ 0 ],
            t = setInterval( () => {
                tim.innerHTML -= 1;
                if( tim.innerHTML == 0 ) {
                    location.href = '../';
                    clearInterval( t );
                }
            }, 1000 );
    }
</script>
</html>