<%- include( './_pub/head.html' )%>
<body>
<%- include( './_pub/header.html' ) %>
<main id="product-main">
    <%- include( './_structure/product/banner.html' ) %>
    <%- include( './_structure/product/product-one.html' ) %>
    <%- include( './_structure/product/product-two.html' ) %>
    <%- include( './_structure/product/product-three.html' ) %>
    <%- include( './_structure/product/product-four.html' ) %>
    <%- include( './_structure/product/product-five.html' ) %>
    <%- include( './_structure/product/product-six.html' ) %>
</main>
<%- include( './_pub/footer.html' ) %>
</body>
<!--<script src="js/header.js"></script>-->
</html>